{% assign all_content = site.html_pages | concat: site.posts %}
{% assign sortedlist = all_content | sort_natural: 'url' %}

{% comment %} First we find out whether there are any subfolders at this level {% endcomment %}
{% assign num_items = 0 %}
{% assign next_level = include.parentdepth | plus: 1 %}
{% for sortedpage in sortedlist %}
  {% assign subfolderdepth = sortedpage.location | split: "/" | size %}
  {% if sortedpage.location contains include.parentlocation and subfolderdepth == next_level and sortedpage.url != include.parenturl %}
    {% assign num_items = num_items | plus: 1 %}
  {% endif %}
{% endfor %}

{% comment %} Now if we know there are some subfolders, we can build up the bullet list. {% endcomment %}
{% unless num_items == 0 %}
  <ul>      
    {% for sortedpage in sortedlist %}
    {% comment %} recursion means we have to keep reassigning folderpath and next_level {% endcomment %}
      {% assign next_level = include.parentdepth | plus: 1 %}
      {% assign subfolderdepth = sortedpage.location | split: "/" | size %}

      {% if sortedpage.location contains include.parentlocation and subfolderdepth == next_level and sortedpage.url != include.parenturl %}
        {% assign dont_show_link = (!sortedpage.folderlist and include.leafless) %}
        leafless: {{include.leafless}}, folderlist: {{sortedpage.folderlist}}, dont_show_link: {{dont_show_link}}
        {% if dont_show_link == false %}  
          <li>HELLO 3</li>li>      
          <li><a href="{{ sortedpage.url }}">leafless: {{include.leafless}}, folderlist: {{sortedpage.folderlist}}, {{ sortedpage.url | replace: '/', ' ' | split:' ' | last | replace: '-', ' '  | remove: '.html' }}</a></li>
        {% endif %}
        {% if sortedpage.folderlist == true %}
          {% assign new_parentdepth = sortedpage.location | split: "/" | size %}
          {% assign new_leafless = include.leafless %}
          {% include leafless-recursive-subfolders.html parentlocation=sortedpage.location parenturl=sortedpage.url parentdepth=new_parentdepth leafless=new_leafless %}
        {% endif %}
      {% endif %}

    {% endfor %}
  </ul>
{% endunless %}