{% assign all_content = site.html_pages | concat: site.posts %}
{% assign sortedlist = all_content | sort_natural: 'url' %}

  {% for sortedpage in sortedlist %}
    {% assign folderdepth = include.parentlocation | split: "/" | size %}
    {% assign next_level = folderdepth | plus: 1 %}
    {% assign subfolderdepth = sortedpage.location | split: "/" | size %}

    {% if sortedpage.location contains include.parentlocation and subfolderdepth == next_level and sortedpage.url != include.parenturl %}
      <ul>
        <li><a href="{{ sortedpage.url }}">{{ sortedpage.url | replace: '/', ' ' | split:' ' | last | replace: '-', ' '  | remove: '.html' }}</a></li>
        {% include recursive-subfolders.html parentlocation=sortedpage.location parenturl=sortedpage.url %}
      </ul>
    {% endif %}

  {% endfor %}