<!-- Start by building content to be displayed on the page -->
{% assign sortedlist = site.html_pages | sort_natural: 'url' %}
{% assign num_folder_items = 0 %}
{% capture my_folder_list %}{% endcapture %}

{% assign folderdepth = page.location | split: "/" | size %}
{% for sortedpage in sortedlist %}
  {% assign subfolderdepth = sortedpage.location | split: "/" | size %}
  {% assign next_level = folderdepth | plus: 1 %}

  {% if sortedpage.location contains page.location and subfolderdepth == next_level and sortedpage.folderlist == true and sortedpage.url != page.url %}
    {% assign num_folder_items = num_folder_items | plus: 1 %}
    {% capture my_folder_list %}{{ my_folder_list }}
      <li><a href="{{ sortedpage.url }}">{{ sortedpage.url | replace: '/', ' ' | split:' ' | last | replace: '-', ' '  | remove: '.html' }}</a></li>
    {% endcapture %}
  {% endif %}

{% endfor %}  

{% unless num_folder_items == 0 %}
  {% capture folder_list_heading %}<h3>Subfolders:</h3>{% endcapture %}
{% endunless %}

<!-- This is the actual content displayed on the page -->
{{ folder_list_heading }}

<ul id="subfolders">
  {{ my_folder_list }}  
</ul>